extends layouts/main.pug

block content
	.card
		section.card__block.card__block--join-community
			h2.card__title Join our community
			mark.card__mark 30-day, hassle-free money back guarantee
			p.card__desc
				| Gain access to our full library of tutorials along
				| with expert code reviews. Perfect for any developers
				| who are serious about honing their skills.
		.card__group
			section.card__block.card__block--monthly-subsription
				h3.card__title Monthly Subscription
				p.card__price
					span.num $29
					span.label per month
				p.card__desc
					| Full access for less than $1 a day
				a.btn.btn--primary.btn--full(href='#') Sign Up
			section.card__block.card__block--why-us
				h3.card__title Why Us
				ul.card__list
					li Tutorials by industry experts
					li Peer &amp; expert code review
					li Coding exercises
					li Access to our GitHub repos
					li Community forum
					li Flashcard decks
					li New videos every week
